button {
  border-radius: 8px;
  border: 1px solid transparent;
  height: 3em;
  width: 8em;
  padding: 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: var(--secondary-color);
  display: grid;
  place-content: center;
  color: #fff;
  user-select: none;
}

button:hover {
  border-color: var(--tertiary-color);
}
button:focus {
  outline: 4px solid var(--tertiary-color);
}
