input:hover, select:hover {
  outline: 1px solid var(--tertiary-color);
}

input:focus, select:focus {
  outline: 2px solid var(--tertiary-color);
}

input, select {
  padding: 10px;
}

input[disabled=true], button[disabled=true] {
  filter: brightness(0.5);
  -webkit-filter: brightness(0.5);
}

input[disabled=true]:hover, button[disabled=true]:hover {
  border-color: transparent;
}

label {
  font-weight: 500;
}

label {
  line-height: 1.2;
  height: 2.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

input, select, textarea {
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  max-width: 20em;
}

.bg_danger {
  background-color: #ff0000;
}
