form {
    display: grid;
    gap: 10px;
}

.inputGroupsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  align-items: end;
  padding: 10px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: min-content;
  margin: 0 auto;
  min-width: fit-content;
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    padding: 10px;
  }

.signUp {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.signUp h2 {
  margin: 0 0 20px;
}

.inputGroup button {
  align-self: center;
}

.errorMessage {
  color: #dc143c;
}
