form {
  display: grid;
  gap: 10px;
}

.inputGroupsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  align-items: end;
  padding: 10px;
}

.inputGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0 auto;
  align-items: center;
}

.buttonsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 8em), 1fr));
  gap: 10px;
  padding: 10px;
  justify-items: center;
  justify-content: center;
}

.inputGroup label {
  font-weight: 500;
}

.signUp {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  margin: auto;
}

.signUp h2 {
  margin: 0 0 20px;
}

.inputGroup button {
  align-self: center;
}


input, select, textarea {
  width: 100%;
}

.errorMessage {
  color: #dc143c;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

@media only screen and (min-width: 600px) {
  .signIn {
    min-width: 300px;
  }
}

@media only screen and (max-width: 600px) {
  .inputGroupsContainer {
    grid-template-columns: 1fr;
  }
}