.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    align-items: end;
    padding: 10px;
    height: 100%;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.signUp {
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.signUp h2 {
    margin: 0 0 20px;
}

.signUp input:hover {
    border-color: var(--tertiary-color);
}

.signUp input:focus {
    outline: 2px solid var(--tertiary-color);
}

.inputGroup button {
    align-self: center;
}

.inputGroup label {
    font-weight: 500;
}