.modal {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  backdrop-filter: blur(10px);
  padding: 20px;
  box-sizing: border-box;
}

.modalPanel {
  background-color: var(--primary-color);
  padding: 2%;
  display: grid;
  position: relative;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px #000;
  max-height: 100%;
  overflow: auto;
  scrollbar-gutter: stable;
  border: 1px solid #000;
}

.closeModal {
  position: sticky;
  top: 0;
  left: 100%;
  font-size: 30px;
  display: grid;
  place-content: center;
  padding: 10px;
  width: min-content;
}

.closeModal_contain{
  width: min-content;
  font-size: 30px;
  cursor: pointer;
  border: 1px solid;
  border-radius: 100%;
  aspect-ratio: 1/1;
  background-color: #242424;
  opacity: 0.7;
  color: #fff;
  display: grid;
  place-content: center;
  padding: 5px;
}

.closeModal_contain:hover {
  box-shadow: 0 0 0px 2px var(--tertiary-color);
  opacity: 1;
  background-color: #242424;
}

@media only screen and (max-width: 600px) {
  .modalPanel {
    width: 100%;
  }
}
