.toggleMenu:checked ~ .hamburguerMenu {
  display: block;
}

.toggleMenu:checked ~ .toggleButton {
  border: 2px solid var(--tertiary-color);
  position: relative;
  border-bottom: 2px solid var(--primary-color);
  z-index: 1;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
}

.toggleMenu {
  display: none;
}

.toggleButton {
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
  background-color: var(--secondary-color);
  display: grid;
  place-content: center;
  color: #fff;
  user-select: none;
}

.hamburguerMenu {
  display: none;
  /*   width: 200px;
  height: 200px;
  color: #ffffff;
  padding: 20px;
  margin-top: 10px; */
}

.toggleButton:hover {
  border: 1px solid var(--tertiary-color);
}

.hamburguerComponent {
  position: relative;
}

@media only screen and (min-width: 601px) {
  .toggleButton {
    display: none;
  }

  .hamburguerMenu {
    display: inherit;
  }
}

@media only screen and (max-width: 600px) {
  .hamburguerMenu {
    position: absolute;
    right: 2px;
    background-color: var(--primary-color);
    padding: 1em;
    width: fit-content;
    outline: 2px solid var(--tertiary-color);
    border-radius: 10px 0 10px 0;
    -webkit-border-radius: 10px 0 10px 0;
    -moz-border-radius: 10px 0 10px 0;
    -ms-border-radius: 10px 0 10px 0;
    -o-border-radius: 10px 0 10px 0;
  }
}
