.companyInfo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(180px, 100%), 1fr));
    align-items: center;
    grid-gap: 10px;
    box-sizing: border-box;
    overflow: hidden;
    grid-auto-flow: dense;
}

.companyInfo > img {
    box-sizing: border-box;
    width: 100%;
}

.companyInfo .pTitle {
    display: block;
    font-weight: 600;
    margin-bottom: 10px;
}