.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  align-items: end;
  padding: 10px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  padding: 10px;
}

.inputGroup label {
  font-weight: 500;
}

.signIn {
  display: flex;
  align-content: space-evenly;
  flex-direction: column;
  width: 300px;
}

.signIn h2 {
  margin: 0 0 20px;
}

.inputGroup button {
  align-self: center;
}

.errorMessage {
  color: #dc143c;
  font-weight: 600;
  max-width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
